@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --white:#fff;
    --black:#000;
    --nav-bg-color:rgba(48,49,52,.9);
    --body-bg-color:#202124;
    --footer-bg-color:#303134;
    --sub-headings-color:#8cb4ef;
    --btn-bg-color:#8cb4ef;
    --hover-btns-color:#007bff;
    --card-bg-color:#353535d9;
    --bg-2-color:#202124;
    --user-bg-color:#ffffffb3;
    --user-bg-color-2:#ffffff30;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color: var(--body-bg-color);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    font-style: normal;
}

.wrapper{
    max-width: 90%;
    margin: 0 auto;

}

#header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--nav-bg-color);
}

.header-container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(8px);
}

.header-logo img{
    width: 70px;
}

.nav-list{
    display: flex;
    align-items: center;
    list-style: none;
}

.nav-list li a{
    display: inline-block;
    text-decoration: none;
    color: var(--btn-bg-color);
    font-size: 1.2rem;
    margin-left: 4.5rem;
    transition: 0.5s;
}

.nav-list li a:hover{
    color: var(--hover-btns-color);
}

main{
    padding: 3rem 0;
}

#welcome-section{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome-section__text h1{
    font-size: 4rem;
    font-weight: 700;
    color: var(--white);
}

.welcome-section__text p{
    font-size: 2.5rem;
    text-align: center;
    color: var(--btn-bg-color);
    font-weight: 600;
}

#projects{
    padding-top: 5rem;
    min-height: 100vh;
}

.projects-card{
    display: flex;
    flex-flow: wrap;
}

.projects-main_title{
    text-align: center;
}

.projects-main_title h4{
    color: var(--btn-bg-color);
    font-size: 3rem;
    font-weight: 700;
}

.projects-main_title h5{
    color: var(--white);
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

.projects-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);

}

.projects-card{
    width: 400px;
    height: 100%;
    margin: 0 auto;
    background-color: var(--card-bg-color);
    border-radius: 12px;
    overflow: hidden;
}

.projects-image img{
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

.projects-text{
    padding: 2rem 2rem;
}

.projects-text h5{
    color: var(--btn-bg-color);
    font-size: 1.7rem;
    margin-bottom: 24px;
}

.projects-text p{
    color: var(--white);
    font-size: 1.3rem;
}

.projects-btns{
    width: 100%;
    padding: 0 1.5rem 3rem;
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}

.repositoy-btn a,.website-btn a{
    text-decoration: none;
    color: var(--black);
    background-color: var(--btn-bg-color);
    padding: 0.7rem 1rem;
    border-radius: 4px;
    font-size: 1.5rem;
    transition: 0.4s;
    
}

.icon-btn{
    margin-left: 0.5rem;
    font-size: 1.5rem;
}

.repositoy-btn a:hover,.website-btn a:hover{
    background-color: var(--hover-btns-color);
}

#contact{
    width: 100%;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-container{
    width: 90%;
}

.contact-text{
    text-align: center;
}

.contact-text h3{
    color: var(--btn-bg-color);
    font-size: 3rem;
}

.contact-text h4{
    color: var(--white);
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

.contact-links{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    
}

.contact-link__box{
    width: 570px;
    background-color: var(--card-bg-color);
    display: flex;
    align-items: center;
    padding: 2rem;
    border-radius: 12px;
    position: relative;
}

.link_spanner{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.contact-link__box:hover{
    background-color: var(--user-bg-color-2);
}

.contact-link__icon i{
    font-size:4rem;
    padding: 0 3rem 0 1rem;
    color:var(--btn-bg-color);
}

.contact-link__text h6{
    font-size: 1.8rem;
    color: var(--white);
}

.contact-link__text p{
    font-size: 1.4rem;
    color: var(--user-bg-color);
}

#footer{
    background-color: var(--footer-bg-color);
}

.footer-container{
    width: 90%;
    margin: 0 auto;
}

.footer-text{
    text-align: center;
    color: var(--white);
    padding: 2rem 0;
    font-size: 1.5rem;
    font-weight: 600;
}